@{
  Layout = "_Layout";
}
@using System.Security.Claims
<h1>NYTimes Articles:</h1>
@if (User.Identity.IsAuthenticated)
{
  <ol>
@foreach (Article article in Model)
{
    <ul>
        <li>Section: @article.Section</li>
        <li>Title: @article.Title</li>
        <li>Abstract: @article.Abstract)</li>
        <li>Url: @article.Url)</li>
        <li>Byline: @article.Byline)</li>
    </ul>
    <br>
}
</ol>
}

else
{
  <h3>@Html.ActionLink("Create an account", "Index", "Account")</h3>
  <h3>@Html.ActionLink("Log in", "Login", "Account")</h3>
     
}
